pipeline/brnz_to_silver.json
{
	"name": "brnz_to_silver",
	"properties": {
		"description": "moving data from bronze to silver",
		"activities": [
			{
				"name": "If Condition2",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.Load_Type,'Full')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "fetch_logs",
							"description": "fetch logs from the databricks audit table\"audit.load_logs\"",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureDatabricksDeltaLakeSource",
									"query": {
										"value": "@concat('select coalesce(cast(max(loaddate) as date),''','1900-01-01',''') as last_fetched_date from audit.load_logs where',' data_source=''',pipeline().parameters.datasource,''' and tablename=''',pipeline().parameters.tablename,'''')",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "AzureDatabricksDeltaLakeDataset1",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "'aa'",
										"table_name": "'a'"
									}
								}
							}
						},
						{
							"name": "incremental_load",
							"description": "if the expression is not True (means not a full load), then we do incremental load",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "fetch_logs",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select *,''',pipeline().parameters.datasource,''' as datasource from ',pipeline().parameters.tablename,' where ',pipeline().parameters.watermark,' >= ''',activity('fetch_logs').output.firstRow.last_fetched_date,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "EncounterID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "EncounterID",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "PatientID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "PatientID",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "EncounterDate",
												"type": "DateTime",
												"physicalType": "date"
											},
											"sink": {
												"name": "EncounterDate",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "EncounterType",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "EncounterType",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "ProviderID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "ProviderID",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "DepartmentID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "DepartmentID",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "ProcedureCode",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "ProcedureCode",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "InsertedDate",
												"type": "DateTime",
												"physicalType": "date"
											},
											"sink": {
												"name": "InsertedDate",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "ModifiedDate",
												"type": "DateTime",
												"physicalType": "date"
											},
											"sink": {
												"name": "ModifiedDate",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "datasource",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "datasource",
												"type": "String",
												"physicalType": "UTF8"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "generic_sql_ds",
									"type": "DatasetReference",
									"parameters": {
										"db_name": {
											"value": "@pipeline().parameters.db_name",
											"type": "Expression"
										},
										"schema_name": {
											"value": "@split(pipeline().parameters.tablename,'.')[0]",
											"type": "Expression"
										},
										"table_name": {
											"value": "@split(pipeline().parameters.tablename,'.')[1]",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "generic_adls_parquet_ds",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"file_path": {
											"value": "@pipeline().parameters.targetpath",
											"type": "Expression"
										},
										"file_name": {
											"value": "@split(pipeline().parameters.tablename,'.')[1]",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "insert_logs_in_load",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "incremental_load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureDatabricksDeltaLakeSource",
									"query": {
										"value": "@concat('insert into audit.load_logs(data_source,tablename,numberofrowscopied,watermarkcolumnname,loaddate) values (''',pipeline().parameters.datasource,''', ''',pipeline().parameters.tablename,''',''',activity('incremental_load').output.rowscopied,''',''',pipeline().parameters.watermark,''',''',utcNow(),''')')",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "AzureDatabricksDeltaLakeDataset1",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "\"aa\"",
										"table_name": "\"aa\""
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Full_Load",
							"description": "if its a full load copy all the records and put it in bronze folder",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select *,''', pipeline().parameters.datasource,''' as datasource from ', pipeline().parameters.tablename)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "generic_sql_ds",
									"type": "DatasetReference",
									"parameters": {
										"db_name": {
											"value": "@pipeline().parameters.database",
											"type": "Expression"
										},
										"schema_name": {
											"value": "@split(pipeline().parameters.tablename,'.')[0]",
											"type": "Expression"
										},
										"table_name": {
											"value": "@split(pipeline().parameters.tablename,'.')[1]",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "generic_adls_parquet_ds",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"file_path": {
											"value": "@pipeline().parameters.targetpath",
											"type": "Expression"
										},
										"file_name": {
											"value": "@split(pipeline().parameters.tablename, '.')[1]",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "insert_full_load_logs",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Full_Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureDatabricksDeltaLakeSource",
									"query": {
										"value": "@concat('insert into audit.load_logs(data_source,tablename,numberofrowscopied,watermarkcolumnname,loaddate) values (''',pipeline().parameters.datasource,''', ''',pipeline().parameters.tablename,''',''',activity('Full_Load').output.rowscopied,''',''',pipeline().parameters.watermark,''',''',utcNow(),''')')",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "AzureDatabricksDeltaLakeDataset1",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "'a'",
										"table_name": "'a'"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Load_Type": {
				"type": "string"
			},
			"database": {
				"type": "string"
			},
			"tablename": {
				"type": "string"
			},
			"datasource": {
				"type": "string"
			},
			"watermark": {
				"type": "string"
			},
			"targetpath": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-14T06:38:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}